<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 15px;
        }

        h2 {
            display: inline;
            padding: 15px;
        }
    </style>
</head>

<body>
    <div class="tab">
        <h2><a href="/">课程分类</a></h2>
        <h2><a href="/statistics">统计数据</a></h2>
        <h2><a href="/record">工作记录</a></h2>
        <h2><a href="/answer_selection">答案选择标注</a></h2>
    </div>
    <ul>
        {% for time, count in m %}
        <li> <a href="/record_date/{{time}}">{{time}}</a>: {{count}}</li>
        {% endfor %}
    </ul>
</body>

</html>