<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 15px;
        }

        h2 {
            display: inline;
            padding: 15px;
        }
    </style>
</head>

<body>
    <div class="tab">
        <h2><a href="/">课程分类</a></h2>
        <h2><a href="/statistics">统计数据</a></h2>
        <h2><a href="/record">工作记录</a></h2>
        <h2><a href="/answer_selection">答案选择标注</a></h2>
    </div>
    <table style="width:100%">
        <tr>
            <th> latest </th>
            <th> course_id </th>
            <th> course_name </th>
            <th> cnt_labeled </th>
            <th> cnt_unlabeled </th>
            <th> 0: 平台使用相关 </th>
            <th> 1: 课程信息相关 </th>
            <th> 2: 简单知识点解释 </th>
            <th> 3: 复杂知识点讨论 </th>
            <th> 4: 共性的反馈及建议 </th>
            <th> 5: 聊天及其他 </th>
            <th> 6: 个人相关的请求 </th>
            <th> 7: 无意义或不适宜的内容 </th>
            <th> 8: 预置的服务请求 </th>
        </tr>
        {% for latest, cnt_unlabeled, course_id, course_name, cnt_labeled, tags_distribution in l %}
        <tr>
            <td> {{latest}} </td>
            <td> <a href="/unlabeled/{{course_id}}/"> {{course_id}} </a></td>
            <td> {{course_name}} </td>
            <td> {{cnt_labeled}} </td>
            <td> {{cnt_unlabeled}} </td>
            {% for num in tags_distribution %}
            <td> {{num}} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>

</html>