{
  "net_name": "match_pyramid",
  "global":{
      "model_type": "PY",
      "weights_file": "examples/xiaomu/weights/matchpyramid.weights",
      "save_weights_iters": 10,
      "num_iters": 100,
      "display_interval": 10,
      "test_weights_iters": 100,
      "optimizer": "adam",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus": "./data/xiaomu/classification/corpus_preprocessed.txt",
        "text2_corpus": "./data/xiaomu/classification/corpus_preprocessed.txt",
        "use_dpool": true,
        "embed_size": 100,
        "embed_path": "./data/xiaomu/classification/embed_word2vec_d100",
        "vocab_size": 718,
        "train_embed": true,
        "target_mode": "ranking",
        "text1_maxlen": 50,
        "text2_maxlen": 50
    },
    "train": {
        "input_type": "PairGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 100,
        "relation_file": "./data/xiaomu/classification/relation_train.txt"
    },
    "valid": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/xiaomu/classification/relation_train.txt"
    },
    "test": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/xiaomu/classification/relation_test.txt"
    },
    "predict": {
        "input_type": "ListGenerator", 
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "./data/xiaomu/classification/relation_test.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "predict.test.matchpyramid_classification.txt"
    }
  },
  "model": {
    "model_path": "matchzoo/models/",
    "model_py": "matchpyramid.MatchPyramid",
    "setting": {
        "kernel_count": 32, 
        "kernel_size": [3, 3], 
        "dpool_size": [3, 10],
        "dropout_rate": 0
    }
  },
  "losses": [ 
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": [ "ndcg@3", "ndcg@5", "map" ]
}

